/__auto-save-list
/__package/
/__eshell
/__savehist
/server/

/ac-comphist.dat
/bookmarks
/abbrev_defs
/url
*.elc
*.eld
*.el~
*.dependencies

tramp
custom.el
session*
.mc-lists.el
.cask/
.mc-lists.el

/el-get
!/el-get/.status.el
/ido.last
/*.cache
/network-security.data

# org-preview-html
org_preview_html*.html
# clojure
.last-package-update-day
cider-history

recentf

\#*

amx-items
/smex-items

/emojis/
/backups/

/transient
/fonts/
/.org-id-locations

